.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.outerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  width: 90%;
  border-radius: 50px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: black;
}

.logo {
  margin: 1%;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

a {
  color: white;
}

.imgCard {
  width: 50%;
  padding: 3%;
  margin: 5%;
  border: 1px solid black;
  border-radius: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
